
//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// font-family
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=BioRhyme:wght@400;700;800&family=Heebo:wght@300;400&family=Kalam&family=Kanit:ital@1&display=swap');

//VARIABLES
//color
$general-bg-color: #373737;

//height
$one-hundred: 100%;
$images-container: 100vh;

//margin
$selected-stores-top: 1.8rem;

// MIXIN FLEX
@mixin flex-bg-issue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin image-links-style {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@mixin image-text-conf-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.8rem;
    line-height: 25px;
    font-size: 0.96666rem;
}

@mixin figcaption-conf {
    margin-top: 2rem;
    font-size: 1.2rem;
}

@mixin container_images_conf {
    height: 480px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* HEADER SECTION */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem 0 0.8rem;
    background-color: transparent;
    position: sticky;
    top: 0;

    h1 {
        font-size: 2.1rem;
        font-family: 'heebo', arial, sans-serif;
    }

    p {
        font-size: 1.2rem;
        font-weight: bold;

        a:any-link {
            color: black;
            text-decoration: none;
        }
    }
}

// BODY SECTION
/* :root {
    scroll-behavior: smooth;
} */

html {
    scroll-behavior: smooth;
    height: $one-hundred;
    scroll-snap-type: y mandatory;
    /* scroll-snap-type accepts proximity, mandatory and none that is the default */
    /* scroll snap type needs to be set in the html selector and i need to specify "x" , "y" or put "both" i even can use block or inline before proximity*/

    /* here are some global values */

/* scroll-snap-type: inherit;
   scroll-snap-type: initial;
   scroll-snap-type: revert;
   scroll-snap-type: revert-layer;
   scroll-snap-type: unset; */

    
    /* then i need to put "scroll-snap-align: 'value';" in the section that i want it to scroll to this propery accepts "start" "center" "top" "end"*/

    /* another value that i can use in the container is the scroll-snap-stop: with values like "always" and "normal" it only works on smart-phones, it changes the scroll to allow the user scroll how much he or she wants or limit the scroll per pages like one page at time */

    /* "scroll-padding-top: ramdom number;" is good if i have a stikcy header that when i scroll it gets in the view of something that i want to show in the page, and put that code allows the scroll to have some padding */
}

body {
    background-color: #e04f9c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: auto;
}

main {
    height: auto;

}

.container_images {
    @include container_images_conf;
}

figcaption {
    @include figcaption-conf;
}



.issue7_background {
    height: 105vh;
    @include flex-bg-issue;
    background-color: #e04f9c;
    scroll-snap-align: center;

    .issue7_image {
        background-image: url(/CSS-CODE/html-css-Projects/Frontend-Practice/backstage-talks/backstage-images/Walking-Hand.png);
        background-size: cover;
        background-position: center;
        width: $one-hundred;
        height: $one-hundred;
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.242);
    }


    .issue7_links_container {
        @include image-text-conf-one;
        z-index: 2;


        a:any-link {
            @include image-links-style;
        }

        a:hover {
            text-decoration: underline;
        }

        .selected-stores {
            margin-top: $selected-stores-top;
        }
    }

}

.issue6_background {
    height: $images-container;
    @include flex-bg-issue;
    font-size: 1.2rem;
    background-color: rgb(241, 241, 241);
    scroll-snap-align: center;

    .issue6_image {
        background-image: url(/CSS-CODE/html-css-Projects/Frontend-Practice/backstage-talks/backstage-images/notebook-white.jpg);
        background-size: cover;
        background-position: center;
        width: $one-hundred;
        height: $one-hundred;
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.242);
    }

    .issue6_links_container {
        @include image-text-conf-one;
        z-index: 2;

        a:any-link {
            text-decoration: none;
            color: rgb(244, 90, 162);
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .selected-stores {
            margin-top: 1.7rem;
        }

    }
}



.issue5_background {
    height: $images-container;
    @include flex-bg-issue;
    font-size: 1.2rem;
    background-color: #93fbfb;
    scroll-snap-align: center;

    .issue5_image {
        background-image: url(/CSS-CODE/html-css-Projects/Frontend-Practice/backstage-talks/backstage-images/jesus-green.jpg);
        background-size: cover;
        background-position: bottom;
        width: $one-hundred;
        height: $one-hundred;
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.242);
    }

    .issue5_links_container {
        @include image-text-conf-one;
        z-index: 2;

        a:any-link {
            text-decoration: none;
            color: #00ab1a;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .selected-stores {
            margin-top: 1.7rem;
        }

    }
}



.issue4_background {
    height: $images-container;
    @include flex-bg-issue;
    font-size: 1.2rem;
    background-color: #f98043;
    scroll-snap-align: center;

    .issue4_image {
        background-image: url(/CSS-CODE/html-css-Projects/Frontend-Practice/backstage-talks/backstage-images/skull-orange.jpg);
        background-size: cover;
        background-position: 50% 65%;
        width: $one-hundred;
        height: $one-hundred;
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.242);
    }

    .issue4_links_container {
        @include image-text-conf-one;
        z-index: 2;

        a:any-link {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .selected-stores {
            margin-top: 0;
        }

    }
}



.issue3_background {
    height: $images-container;
    @include flex-bg-issue;
    font-size: 1.2rem;
    background-color: #fff200;
    scroll-snap-align: center;

    .issue3_image {
        background-image: url(/CSS-CODE/html-css-Projects/Frontend-Practice/backstage-talks/backstage-images/Rhino-Party.png);
        background-size: cover;
        background-position: bottom;
        width: $one-hundred;
        height: $one-hundred;
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.242);
    }

    .issue3_links_container {
        @include image-text-conf-one;
        z-index: 2;

        a:any-link {
            text-decoration: none;
            color: #ff6a00;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .selected-stores {
            margin-top: 1.7rem;
        }

    }
}



.issue2_background {
    height: $images-container;
    @include flex-bg-issue;
    font-size: 1.2rem;
    background-color: #2a69dd;
    scroll-snap-align: center;

    .issue2_image {
        background-image: url(/CSS-CODE/html-css-Projects/Frontend-Practice/backstage-talks/backstage-images/diving.jpg);
        background-size: cover;
        background-position: bottom;
        width: $one-hundred;
        height: $one-hundred;
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.242);
    }

    .issue2_links_container {
        @include image-text-conf-one;
        z-index: 2;

        a:any-link {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .selected-stores {
            margin-top: 1.7rem;
        }

    }
}



.issue1_background {
    height: $images-container;
    @include flex-bg-issue;
    font-size: 1.2rem;
    background-color: rgb(246, 25, 0);
    scroll-snap-align: center;

    .issue1_image {
        background-image: url(/CSS-CODE/html-css-Projects/Frontend-Practice/backstage-talks/backstage-images/girls-with-red-background.jpg);
        background-size: cover;
        background-position: bottom;
        width: $one-hundred;
        height: $one-hundred;
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.242);
    }

    .issue1_links_container {
        @include image-text-conf-one;
        z-index: 2;

        a:any-link {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .selected-stores {
            margin-top: 0;
        }

    }
}


// footer

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding:0 1rem;
    padding-bottom: 1.2rem;
    height: 30%;
    font-size: 1.1rem;

}

.footer_left-column_container {
    width: 280px;
    height: 240px;
    line-height: 23px;

    .copyright {
        font-size: 0.8rem;

        a:any-link{
            color: #000;
        }
    }


    .last-line {
        margin-top: 2rem;

        a {
            font-size: 1.1rem;
        }
        a:any-link{
            color: #000;
        }
    }
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.86666rem;
    font-weight: 500;

    a:any-link {
        color: black;
        text-decoration: none;
    }
}